@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* nav */

body {
    margin: 0;
    background: black;
    font-family: "Roboto", sans-serif;
}

#logo {
    width: 100px;
    color: rgb(229 9 20);
}

.header {
    display: flex;
    justify-content: space-between;
}

nav, main, footer {
    padding: 0 10vw;
}

nav {
    padding-top: 25px;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url(resources/background.png) center center no-repeat;
    background-size: cover;
    color: white;
    background-color: black;
}

h1 {
    text-align: center;
}

h1,h2, h3, h5, p, details {
    color: white;
    margin: 5px;
}


.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}


button {
    background-color: rgb(229 9 20);
    color: white;
    border: 1px solid rgb(229 9 20);
    border-radius: 3px;
    cursor: pointer;
}

#nav-button {
    padding: 4px 16px;
}

#hero-button {
    padding: 12px 24px;
}

#email {
    padding: 11px 15px;
    width: 300px;
}

/* main */

.title {
  position: relative;
  width: 200px;
}

.title-img {
  width: 100%;
  height: 250px;
  display: block;
  border-radius: 8px;
}

span {
    color: black;
    font-size: 100px; 
    position: relative;
    bottom: 100px;
    -webkit-text-stroke: 2px white;
}

#trending-now {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#more-reasons-to-join {
    width: 1212;
    height: 40;
    margin-top: 16px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 290px;
    height: 282px;
    padding: 0;
    margin-bottom: 20px;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%),
                url(resources/background.png) center center no-repeat;
                border-radius: 10px;
}

#icon {
    width: 75;
    height: 75;
    padding: 0;
    margin: 0;
    position: relative;
    left: 220px;
    top: 100px;
}

main section {
    padding: 0px;
}

details {
    padding: 24px;
    background-color: #2d2d2d;
}

details p {
    margin-top: 15px;
}

/* footer */

footer {
    margin-top: 36px;
}

#ready {
    display: flex;
    justify-content: center;
    align-items: center;
}

#register {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
}

#register-button {
    padding: 11px 15px;
}

#call {
    margin-top: 36px;
    color: #b3b3b3;
}

#links {
    display: flex;
   
}

#links ul {
    color: #b3b3b3;
    justify-content: space-between;
    list-style: none;
    text-decoration: underline;
    margin-left: 16px;
}

#links ul li {
    margin-bottom: 15px;
}

note {
    display: flex;
}

#note {
   
    color: #003acd;
    text-decoration: underline;    
}